<p id="notice"><%= notice %></p>

<h1>Rackets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Maker</th>
      <th>Series</th>
      <th>Model player</th>
      <th>Level</th>
      <th>Point physical</th>
      <th>Point playing style</th>
      <th>Point support</th>
      <th>Point spin</th>
      <th>Point feeling</th>
      <th>Spec weight</th>
      <th>Spec face</th>
      <th>Spec thickness</th>
      <th>Spec balance</th>
      <th>Spec length</th>
      <th>Spec string pattern</th>
      <th>Spec model</th>
      <th>Url</th>
      <th>Price</th>
      <th>Page count</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rackets.each do |racket| %>
      <tr>
        <td><%= racket.name %></td>
        <td><%= racket.maker_id %></td>
        <td><%= racket.series_id %></td>
        <td><%= racket.model_player_id %></td>
        <td><%= racket.level %></td>
        <td><%= racket.point_physical %></td>
        <td><%= racket.point_playing_style %></td>
        <td><%= racket.point_support %></td>
        <td><%= racket.point_spin %></td>
        <td><%= racket.point_feeling %></td>
        <td><%= racket.spec_weight %></td>
        <td><%= racket.spec_face %></td>
        <td><%= racket.spec_thickness %></td>
        <td><%= racket.spec_balance %></td>
        <td><%= racket.spec_length %></td>
        <td><%= racket.spec_string_pattern %></td>
        <td><%= racket.spec_model %></td>
        <td><%= racket.url %></td>
        <td><%= racket.price %></td>
        <td><%= racket.page_count %></td>
        <td><%= racket.string_id %></td>
        <td><%= link_to 'Show', racket %></td>
        <td><%= link_to 'Edit', edit_racket_path(racket) %></td>
        <td><%= link_to 'Destroy', racket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Racket', new_racket_path %>
