<h1>テニスラケットナビ：自分にあったラケットをより早く見つける</h1>
<h2>項目選択検索：各項目を選択してください</h2>

<div id='main_panel'>
    <%= form_tag({ controller: :select_item, action: :search }, :method => :post) do %>
        <div id='item_wrap'>
            <ul>
                <li id='paragraph'>体力・筋力</li>
                <%= select_tag 'physical', options_for_select([["ない", "1"], ["あまりない", "2"], ["普通", "3"], ["結構ある", "4"], ["ある", "5"]]), :size => 5, :id => "select_form" %>
            </ul>
            
            <ul>
                <li id='paragraph'>プレースタイル</li>
                <%= select_tag 'playing_style', options_for_select([["ボレーメイン", "1"], ["オールラウンド", "3"], ["ストロークメイン", "5"]]), :size => 3, :id => "select_form" %>
            </ul>
            
            <ul>
                <li id='paragraph'>ラケットのサポート</li>
                <%= select_tag 'support', options_for_select([["欲しくない", "1"], ["あまり欲しくない", "2"], ["ほどほど", "3"], ["少し欲しい", "4"], ["欲しい", "5"]]), :size => 5, :id => "select_form" %>
            </ul>
            
            <ul>
                <li id='paragraph'>スピン性能</li>
                <%= select_tag 'spin', options_for_select([["控えめ", "1"], ["ほどほど", "3"], ["欲しい", "5"]]), :size => 3, :id => "select_form" %>
            </ul>
            
            <ul>
                <li id='paragraph'>打感の好み</li>
                <%= select_tag 'feeling', options_for_select([["ソフトな打感", "1"], ["ややソフトな打感", "2"], ["普通の打感", "3"], ["ややシャープな打感", "4"], ["シャープな打感", "5"]]), :size => 5, :id => "select_form" %>
            </ul>
        </div>
    <div id='search_button'>
        <%= submit_tag "結果を見る", :id => "search" %>
    </div>
    <% end %>
</div>

<h3>ラケットの特徴</h3>
<ul>
    <li id='explain'><span class="bold">フレーム重量：</span>ラケットの重さ。軽い場合には操作性に優れ、楽に振ることができる。その反面重い球を打てない、相手に打ち負けやすい。<br />
    重い場合はその逆となる。体力と筋力を考慮して選ぶことが重要。250〜320g程度が一般的で、男性は290g程度、女性は270g程度が目安。</li>
    
    <li id='explain'><span class="bold">フェイスの大きさ：</span>ラケットのガットが貼ってある部分の大きさ。小さい場合には振り抜きがよく、コントロール性が上がる。<br />
    その反面スウィートスポット(芯)が小さく、ボールを飛ばしにくい。大きい場合にはその逆となる。基本的にはフェイスが大きいほど初心者向け、<br />
    小さいほど上級者向けであり自身のレベルにあわせて選ぶことが重要。90〜120平方インチ程度が一般的で、平均的な大きさは１００平方インチ程度。</li>
    
    <li id='explain'><span class="bold">フレームの厚さ：</span>ラケットの厚さ。薄い場合にはコントロール性が増す。その反面ボールを飛ばしにくい。厚い場合にはその逆となる。<br />
    自身の体力と筋力を考慮して選ぶことが重要。20〜28mm程度が一般的で、平均的な厚さは24mm程度。</li>
    
    <li id='explain'><span class="bold">バランス：</span>ラケットの重心を表しグリップエンド(柄の橋の部分)からの距離。重心が手元に近いほど手元の操作性が良くなる。<br />
    その反面力が弱くなる。重心が遠い場合にはその逆となる。それほど意識しなくことが多い指標。300〜330mm程度が一般的で、平均は320mm程度。</li>
    
    <li id='explain'><span class="bold">ラケットの長さ：</span>短い場合には操作性が増す。その反面遠いボールを取れなくなる。長い場合にはその逆となる。27インチが主流でほぼ固定。<br />
    長いラケットで28インチ程度と大きく差がないため意識しないことが多い指標。27インチが一般的でそれ以上が長い。</li>
    
    <li id='explain'><span class="bold">ストリングパターン：</span>ラケットのガットが縦横で何本配置されているかを示す。網目が細かいほどガットが切れにくくなり、打感がシャープになる。<br />
    その反面スウィートスポット(芯)が小さくなり、ガットがたわみにくいことでボールが飛びにくく回転がかけにくい。網目が粗い場合にはその逆となる。<br />
    一般的にはガットの網目が細かいほど上級者向き。16×18や16×19が一般的で細かいもので18×20、粗いもので16×15などがある。</li>
    
    <li id='explain'><span class="bold">グリップの大きさ：</span>ラケットの柄の部分の大きさ。手の大きさに合わせて選ぶことが重要。基本的にはグリップテープという物を巻くことが多く、<br />
    テープを２重に巻くなどで調整可能なので小さめを選ぶと良い。サイズは1〜4が一般的で男性は2〜3、女性は1〜2が目安。</li>
    
    <li id='iexplain'><span class="bold">打感：</span>ラケットでボールを打った時の感覚。打った時にソフトに感じるものとシャープに感じるものがある。打感がソフトだと手にストレスがかからない。<br />
    その反面どこでボールを打ったのか知ることが難しくなる。打感がシャープな場合はその逆となる。メーカーやシリーズによって特徴があるため、<br />
    試打して自分に合ったものを探すと良い。</li>
</ul>